<div class="header-announcement-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none" aria-hidden="true">
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.5 6a4 4 0 1 0 8 0 4 4 0 0 0-8 0Z"/>
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m8.5 10 2.267 3.927 1.065-2.156 2.399.155L11.964 8M5.035 8l-2.267 3.927 2.399-.156 1.065 2.155L8.499 10"/>
    </svg>
    Sản phẩm <strong>Chính hãng &bull; Xuất VAT</strong> đầy đủ
</div>

<div class="header-announcement-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 17 16" aria-hidden="true">
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.833 11.333a1.333 1.333 0 1 0 2.667 0 1.333 1.333 0 0 0-2.667 0ZM10.5 11.333a1.333 1.333 0 1 0 2.667 0 1.333 1.333 0 0 0-2.667 0Z"/>
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.833 11.333H2.5V8.667m-.667-5.334h7.334v8m-2.667 0h4m2.667 0H14.5v-4m0 0H9.167m5.333 0L12.5 4H9.167M2.5 6h2.667"/>
    </svg>
    <strong>Giao nhanh &bull; Miễn phí</strong> cho đơn từ 300k
</div>

<div class="header-announcement-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 17 16" fill="none" aria-hidden="true">
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M3.167 8V6a2 2 0 0 1 2-2h8.666m0 0-2-2m2 2-2 2M13.833 8v2a2 2 0 0 1-2 2H3.167m0 0 2 2m-2-2 2-2"/>
    </svg>
    <strong>Thu cũ</strong> giá cao &bull; <strong>Lên đời</strong> tiết kiệm
</div>

<div class="header-announcement-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none" aria-hidden="true">
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 2a6 6 0 1 0 0 12A6 6 0 0 0 8 2Zm0 0v2m0 8v-2m-4-4h2m8 0h-2"/>
    </svg>
    Bảo hành <strong>12 tháng</strong> chính hãng
</div>

<div class="header-announcement-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 16 16" fill="none" aria-hidden="true">
        <path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 8h6M8 5v6"/>
        <circle cx="8" cy="8" r="6" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
    </svg>
    Trả góp <strong>0%</strong> lãi suất &bull; Duyệt nhanh
</div>
